* {
  box-sizing: border-box;
  text-transform: uppercase;
}

.centralizar,
.centralizar * {
  text-align: center!important;
}

/**
 * configurar
 * ----------
 */

#configurar {
  margin: 80px 0px;
}

#configurar * {
  font-family: Verdana, sans-serif;
}

#configurar header {
  width: 400px;
  margin: 0px auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

#configurar header h1 {
  font-size: 24px;
  line-height: 22px;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

#configurar table {
  width: 500px;
  margin: 0px auto;
}

#configurar table td > * {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#configurar table:first-child {
  margin-bottom: -5px;
}

#configurar input:disabled {
  text-decoration: line-through;
}

#configurar input,
#configurar select,
#configurar textarea {
  padding: 4px 10px!important;
  box-shadow: none;
  border-width: 2px;
  border-style: solid;
  border-color: #bdc3c7;
  font-size: 14px;
}

#configurar option:disabled {
  color: gray;
  font-style: italic;
}

#configurar textarea {
  resize: vertical;
}

#configurar input[type="submit"],
#configurar input[type="reset"] {
  cursor: pointer;
  color: white;
  font-weight: bold;
}

#configurar input[type="submit"] {
  background-color: #689b60;
  border-color: #5d8b56;
}

#configurar input[type="reset"] {
  background-color: #db5353;
  border-color: #c54a4a;
}

#configurar a {
  color: #34495e;
}

/**
 * imprimir
 * --------
 */

#guia {
  margin: 2% 6%;
}

#guia table,
#guia th,
#guia td {
  font-size: 12px;
  border: 1px solid black;
  border-collapse: collapse;
}

#guia th,
#guia td {
  padding: 5px;
  text-align: left;
}

#guia table {
  width: 100%;
}

#guia .cabecalho {
  margin-bottom: 14px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 10px;
  line-height: 25%;
  font-weight: bold;
}

#guia .lista-de-processos > td {
  font-family: Courier, monospace;
  padding: 2px 5px;
  font-size: 14px;
}

#guia .assinaturas {
  padding: 10px;
}

#guia .devolver-guia {
  position: fixed;
  bottom: 0px;
  right: 0px;
  opacity: 0.6;
  font-weight: bold;
}

/**/

::selection {
  background-color: #f7d78d;
}

/**
 * firefox
 */
::-moz-selection {
  background-color: #f7d78d;
}
