@import "../app/indice/style.css";
@import "../app/configurar/style.css";
@import "../app/imprimir/style.css";

* {
  box-sizing: border-box;
}

.centralizar,
.centralizar * {
  text-align: center!important;
}

.negrito,
.negrito * {
  font-weight: bold;
}

.italico,
.italico * {
  font-style: italic;
}

::selection {
  background-color: #f7d78d;
}

/**
 * firefox
 */
::-moz-selection {
  background-color: #f7d78d;
}

