<div id="indice">
  <header>
    <h1>gerador de<br>guia de remessa</h1>
  </header>

  <table>
    <tr>
      <td>
        <input
          data-ng-model="vm.guia"
          placeholder="nº da guia">
      </td>
      <td>
        <input
          data-ng-model="vm.malote"
          data-ng-disabled="vm.destinatario | naoTemMalote"
          placeholder="nº do malote">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <select
          data-ng-model="vm.destinatario">

          <option value disabled hidden>
            escolha o destinatário aqui...
          </option>

          <option data-ng-repeat="destinatario in vm.destinatarios">
            {{destinatario}}
          </option>
        </select>
      </td>
    </tr>
  </table>

  <form data-ng-submit="vm.adicionar()">
    <table>
      <tr>
        <td>
          <input
            data-ng-model="vm.codigoDeBarras"
            class="centralizar"
            type="text"
            placeholder="Selecione aqui e escaneie..."
            autofocus>
        </td>
      </tr>
    </table>
  </form>

  <table
    data-ng-if="vm.processos.length"
    class="adicionados">

    <tr>
      <th colspan="5">
        LISTA DE PROCESSOS JÁ ADICIONADOS:
      </th>
    </tr>
    <tr data-ng-repeat="processo in vm.processos | orderBy:'-item'">
      <td class="indice">
        <i>{{processo.item}}.</i>
      </td>
      <td>{{processo.numero}}</td>
      <td>{{processo.vol}}</td>
      <td>
        <input
          data-ng-click="vm.remover($index)"
          type="button"
          value="remover">
      </td>
    </tr>
  </table>

  <form
    data-ng-submit="vm.gerar()"
    class="gerar">

    <table>
      <tr>
        <td>
          <input type="submit" value="gerar guia">
        </td>
      </tr>
    </table>
  </form>

  <!-- Noticação -->
  <div
    data-ng-show="vm.notificar.exibir"
    class="notificacao">

    <span>
      {{vm.notificar.mensagem}}
    </span>
  </div>
</div>

