<div id="indice">
  <header>
    <h1>
      gerador de<br>
      guia de remessa</h1>
  </header>

  <table>
    <tr>
      <td>
        <input
          data-ng-model="vm.guia"
          data-ng-keypress="vm.adicionarGuia($event)"
          placeholder="nº da guia">
      </td>
      <td>
        <input
          data-ng-model="vm.malote"
          data-ng-keypress="vm.adicionarGuia($event)"
          data-ng-disabled="vm.destinatario | naoTemMalote"
          placeholder="nº do malote">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <select data-ng-model="vm.destinatario">

          <option
            value
            disabled
            hidden>

            escolha o destinatário aqui...
          </option>

          <!-- não quebre a linha -->
          <option data-ng-repeat="destinatario in vm.destinatarios">{{destinatario}}</option>
        </select>
      </td>
    </tr>
  </table>

  <form data-ng-submit="vm.adicionarDados(vm.codigoDeBarras)">
    <table>
      <tr>
        <td>
          <input
            data-ng-model="vm.codigoDeBarras"
            class="centralizar"
            type="text"
            placeholder="escaneie ou dígite aqui..."
            autofocus>
        </td>
      </tr>
    </table>
  </form>

  <table
    data-ng-if="vm.processos.length"
    class="adicionados">

    <tr>
      <th colspan="5">
        LISTA DE PROCESSOS JÁ ADICIONADOS:
      </th>
    </tr>
    <tr data-ng-repeat="processo in vm.processos | orderBy:'-item'">
      <td class="indice italico">
        {{processo.item}}.
      </td>
      <td>
        {{processo.numero}}
      </td>
      <td>
        {{processo.vol}}
      </td>
      <td>
        <input
          data-ng-click="vm.removerProcesso($index)"
          type="button"
          value="remover">
      </td>
    </tr>
  </table>

  <form
    data-ng-submit="vm.gerarGuia()"
    class="gerar">

    <table>
      <tr>
        <td>
          <input
            type="submit"
            value="gerar guia">
        </td>
      </tr>
    </table>
  </form>

  <!-- noticação -->
  <div
    data-ng-show="vm.notificar.exibir"
    class="notificacao">

    <span>
      {{vm.notificar.mensagem}}
    </span>
  </div>
</div>

