/**
 * indice
 * ------
 */

#indice {
  width: 500px;
  margin: 90px auto;
}

#indice * {
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
}

#indice header {
  width: 400px;
  margin: 0px auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

#indice header h1 {
  font-size: 24px;
  line-height: 22px;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

#indice table {
  width: 100%;
}

#indice table td > * {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#indice table:first-child {
  margin-bottom: -5px;
}

#indice input:disabled {
  text-decoration: line-through;
}

#indice input,
#indice select {
  padding: 4px 10px !important;
  box-shadow: none;
  border-width: 2px;
  border-style: solid;
  border-color: #bdc3c7;
  font-size: 14px;
}

#indice option:disabled {
  color: gray;
  font-style: italic;
}

#indice .gerar {
  margin-top: 5px;
}

#indice .adicionados {
  margin: 12px 0px;
}

#indice .adicionados .indice {
  color: gray;
}

#indice .adicionados th {
  font-size: 14px;
  text-align: left;
  padding-bottom: 3px;
  text-decoration: underline;
}

#indice .adicionados input[type="button"] {
  color: white;
  background-color: #db5353;
  border-color: #c54a4a;
}

#indice input[type="submit"]:hover,
#indice input[type="button"]:hover {
  opacity: 0.9;
}

#indice input[type="submit"]:active,
#indice input[type="button"]:active {
  opacity: 1;
}

#indice input[type="submit"] {
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: #689b60;
  border-color: #5d8b56;
}

#indice a {
  color: #34495e;
}

#indice .notificacao {
  position: fixed;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  color: white;
  font-size: 11px;
  padding: 5px 12px;
  text-align: center;
  font-style: italic;
  border-style: solid;
  border-width: 1px;
  background-color: #689b60;
  border-color: #5d8b56;
  transition: right 100ms;
}

#indice .notificacao.ng-hide {
  right: -200px;
}
