<div
  ng-init="$ctrl._iniciar()"
  id="impressao">

  <gr-cabecalho pode-sair="true">
    <h1>IMPRESSÃO DA GUIA</h1>
    <button
      ng-click="$ctrl.imprimir()"
      class="gr-btn gr-btn-azul"
      title="Imprimir a guia">

      <i class="fa fa-print"></i>
      IMPRIMIR
    </button>
  </gr-cabecalho>

  <div class="gr-principal-conteudo">
    <gr-guia
      data="$ctrl.data",
      usuario="$ctrl.usuario"
      numero="$ctrl.numero"
      malote="$ctrl.malote"
      destinatario="$ctrl.destinatario"
      processos="$ctrl.processos">
    </gr-guia>
  </div>
</div>

