<div
  ng-init="hist.iniciar()"
  id="historico">
    <gr-cabecalho
      titulo="HISTÓRICO"
      bt-princ="LIMPAR"
      bt-princ-fa="trash-o"
      bt-princ-cor="vermelho"
      bt-princ-click="hist.limpar()"
      bt-princ-desc="Apagar todo o histórico">
    </gr-cabecalho>

  <div
    ng-switch="hist.tahVazio()"
    class="gr-principal-conteudo">
    <div
      ng-switch-when="true"
      class="gr-aviso gr-aviso-vermelho">
      <p>AINDA NÃO HÁ NADA ARMAZENADO NO HISTÓRICO!</p>
    </div>
    <div ng-switch-when="false">
      <input
        ng-model="hist.pesquisa"
        class="gr-w-100 gr-mrg-bx-10 gr-input"
        type="search"
        placeholder="PESQUISE POR GUIAS ANTIGAS AQUI...">

      <table>
        <tr>
          <th>DATA</th>
          <th>NÚMERO</th>
          <th>MALOTE</th>
          <th><i class="fa fa-envelope-o"></i></th>
        </tr>
        <tr ng-repeat="dados in hist.dados | orderBy:'-data' | filter:hist.pesquisa">
          <td>
            {{dados.data | date:'dd/MM/yyyy HH:mm:ss'}}

            <i
              ng-if="dados.tahEditando"
              class="fa fa-pencil gr-cor-azul gr-cursor-help"
              title="Editado">
            </i>
          </td>
          <td>{{dados.numero}}</td>
          <td ng-switch="!!dados.malote">
            <span ng-switch-when="true">
              {{dados.malote}}
            </span>
            <span
              ng-switch-when="false"
              class="gr-txt-i gr-cor-vermelho">
              Sem malote
            </span>
          </td>
          <td>
            <div class="gr-flex-lin">
              <div class="gr-flex-col">
                <button
                  ng-click="hist.ver(dados.data)"
                  class="gr-btn gr-btn-verde gr-w-100"
                  title="Ver">
                  <i class="fa fa-eye"></i>
                </button>
              </div>
              <div class="gr-flex-col">
                <button
                  ng-click="hist.editar(dados.data)"
                  class="gr-btn gr-btn-azul gr-w-100"
                  title="Editar">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
              <div class="gr-flex-col">
                <button
                  ng-click="hist.remover(dados.data)"
                  class="gr-btn gr-btn-vermelho gr-w-100"
                  title="Remover">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
