<div id="adicionar">
  <header>
    <h1>GERADOR DE<br>GUIA DE REMESSA</h1>

    <check-box
      cb-cor-da-borda="#5d8b56"
      cb-cor-do-fundo="#689b60"
      cb-ligado="ad.guia.malote.vai"
      cb-mensagem="VAI MALOTE?"
      class="checkbox">
    </check-box>
  </header>

  <div class="g-linha">
    <div class="g-coluna">
      <input
        ng-model="ad.guia.numero"
        ng-keypress="ad.informarErro($event)"
        class="g-campo g-largura-total"
        type="text"
        placeholder="NÚMERO DA GUIA"
        title="Número da guia">
    </div>
    <div class="g-coluna">
      <input
        ng-model="ad.guia.malote.numero"
        ng-keypress="ad.informarErro($event)"
        ng-disabled="!ad.guia.malote.vai"
        class="g-campo g-largura-total"
        type="text"
        maxlength="5"
        placeholder="NÚMERO DO MALOTE"
        title="Número do malote">
    </div>
  </div>

  <div class="g-linha">
    <div class="g-coluna">
      <select
        ng-model="ad.guia.destinatario"
        class="g-campo g-largura-total"
        title="Destinatarios">

        <option
          value
          disabled
          hidden>

          ESCOLHA O DESTINATÁRIO AQUI...
        </option>

        <!-- por favor, não quebre esta linha -->
        <option ng-repeat="destinatario in ad.destinatarios">{{destinatario}}</option>
      </select>
    </div>
  </div>

  <form
    ng-submit="ad.adicionarDados()"
    class="g-pad-2">

    <input
      ng-model="ad.codigoDeBarras"
      focar
      class="g-campo g-largura-total g-centralizar"
      type="text"
      placeholder="ESCANEIE OU DÍGITE AQUI...">
  </form>

  <div ng-if="!ad.guia.processos.tahVazio()">
    <table class="g-largura-total">
      <tr ng-repeat="processo in ad.guia.processos.lista | orderBy:'-item'">
        <td class="g-italico g-texto-cinza">{{processo.item | preencher:2 }}.</td>
        <td selecionar>{{processo.numero}}</td>
        <td>{{processo.volume | preencher:2 }}</td>
        <td>
          <div class="g-linha">
            <div class="g-coluna">
              <button
                ng-click="ad.guia.processos.aumentarVolume(processo.numero)"
                class="g-botao g-botao-azul g-largura-total"
                title="Aumentar volume">

                <i class="fa fa-arrow-up"></i>
              </button>
            </div>
            <div class="g-coluna">
              <button
                ng-click="ad.guia.processos.diminuirVolume(processo.numero)"
                ng-disabled="ad.guia.processos.obter(processo.numero).volume === 1"
                class="g-botao g-botao-azul g-largura-total"
                title="Diminuir volume">

                <i class="fa fa-arrow-down"></i>
              </button>
            </div>
            <div class="g-coluna">
              <button
                ng-click="ad.removerProcesso(processo.numero)"
                class="g-botao g-botao-vermelho g-largura-total"
                tittle="Remover processo">

                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="g-linha">
    <div class="g-coluna">
      <button
        ng-click="ad.gerarGuia()"
        class="g-botao g-botao-verde g-largura-total g-negrito"
        title="Gerar guia">

        GERAR GUIA
      </button>
    </div>
  </div>
</div>
