#adicionar {
  width: 600px;
  margin: 90px auto;
  font-family: "Segoe UI", sans-serif;
}

#adicionar header {
  margin: 0px auto;
  text-align: center;
}

#adicionar header h1 {
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: solid 1px #eee;
  font-size: 28px;
  line-height: 28px;
}

#adicionar input:disabled {
  text-decoration: line-through;
}

/**
 * checkbox
 * --------
 */

#adicionar .checkbox {
  text-align: center;
  color: gray;
  margin-bottom: 10px;
}
