<div id="adicionar">
  <header>
    <h1>GERADOR DE<br>GUIA DE REMESSA</h1>

    <div
      data-check-box
      data-ligado="ad.guia.vaiMalote"
      data-mensagem="VAI MALOTE?"
      class="checkbox"></div>
  </header>

  <div class="g-linha">
    <div class="g-coluna">
      <input
        data-ng-model="ad.guia.numero"
        data-ng-keypress="ad.informarErro($event)"
        class="g-campo g-largura-total"
        type="text"
        placeholder="NÚMERO DA GUIA">
    </div>
    <div class="g-coluna">
      <input
        data-ng-model="ad.guia.malote"
        data-ng-keypress="ad.informarErro($event)"
        data-ng-disabled="!ad.guia.vaiMalote"
        class="g-campo g-largura-total"
        type="text"
        placeholder="NÚMERO DO MALOTE">
    </div>
  </div>

  <div class="g-linha">
    <div class="g-coluna">
      <select
        data-ng-model="ad.guia.destinatario"
        class="g-campo g-largura-total">

        <option
          value
          disabled
          hidden>

          ESCOLHA O DESTINATÁRIO AQUI...
        </option>

        <!-- por favor, não quebre esta g-linha -->
        <option data-ng-repeat="destinatario in ad.listaDeDestinatarios">{{destinatario}}</option>
      </select>
    </div>
  </div>

  <div data-ng-class="{'g-linha': true, 'g-margin-baixo-10': ad.guia.temProcessos()}">
    <div class="g-coluna">
      <input
        data-ng-model="ad.codigoDeBarras"
        data-ng-keypress="ad.adicionarDados($event)"
        data-focar
        class="g-campo g-largura-total g-centralizar"
        type="text"
        placeholder="ESCANEIE OU DÍGITE AQUI...">
    </div>
  </div>

  <div data-ng-if="ad.guia.temProcessos()">
    <p class="g-negrito dois-pontos">LISTA DE PROCESSOS JÁ ADICIONADOS</p>

    <table class="g-largura-total">
      <tr data-ng-repeat="processo in ad.guia.processos | orderBy:'-item'">
        <td class="g-italico g-texto-cinza g-ponto">{{processo.item}}</td>
        <td data-selecionar>{{processo.numero}}</td>
        <td>{{processo.volume}}</td>
        <td>
          <div class="g-linha">
            <div class="g-coluna">
              <button
                data-ng-click="ad.volume.aumentar(processo.numero)"
                class="g-botao g-botao-azul g-largura-total">
                <i class="fa fa-arrow-up"></i>
              </button>
            </div>
            <div class="g-coluna">
              <button
                data-ng-click="ad.volume.diminuir(processo.numero)"
                class="g-botao g-botao-azul g-largura-total">
                <i class="fa fa-arrow-down"></i>
              </button>
            </div>
            <div class="g-coluna">
              <button
                data-ng-click="ad.removerProcesso(processo.numero)"
                class="g-botao g-botao-vermelho g-largura-total">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="g-linha">
    <div class="g-coluna">
      <button
        data-ng-click="ad.gerarGuia()"
        class="g-botao g-botao-verde g-largura-total g-negrito">

        GERAR GUIA
      </button>
    </div>
  </div>
</div>
