#adicionar {
  width: 512px;
  margin: 90px auto;
  font-family: "Segoe UI", sans-serif;
}

#adicionar header {
  margin: 0px auto;
  width: 300px;
  text-align: center;
}

#adicionar h1 {
  font-size: 28px;
  line-height: 28px;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}

#adicionar p {
  margin: 10px 0px 0px 0px;
}

#adicionar input:disabled {
  text-decoration: line-through;
}

/**
 * checkbox
 * --------
 */

#adicionar .adic-checkbox {
  text-align: center;
  color: gray;
  margin-bottom: 10px;
}

#adicionar .adic-checkbox p {
  margin: 0px;
  padding: 0px;
}
