<div id="adicionar">
  <header>
    <h1>GERADOR DE<br>GUIA DE REMESSA</h1>

    <div
      data-check-box
      data-ligado="adic.guia.vaiMalote"
      data-mensagem="VAI MALOTE?"
      class="adic-checkbox"></div>
  </header>

  <div class="linha">
    <div class="coluna">
      <input
          data-ng-model="adic.guia.numero"
          data-ng-keypress="adic.informarErro($event)"
          class="campo largura-total"
          type="text"
          placeholder="NÚMERO DA GUIA">
    </div>
    <div class="coluna">
      <input
          data-ng-model="adic.guia.malote"
          data-ng-keypress="adic.informarErro($event)"
          data-ng-disabled="!adic.guia.vaiMalote"
          class="campo largura-total"
          type="text"
          placeholder="NÚMERO DO MALOTE">
    </div>
  </div>

  <div class="linha">
    <div class="coluna">
      <select
        data-ng-model="adic.guia.destinatario"
        class="campo largura-total">

        <option
          value
          disabled
          hidden>

          ESCOLHA O DESTINATÁRIO AQUI...
        </option>

        <!-- por favor, não quebre esta linha -->
        <option data-ng-repeat="destinatario in adic.listaDeDestinatarios">{{destinatario}}</option>
      </select>
    </div>
  </div>

  <div class="linha margin-baixo-10">
    <div class="coluna">
      <input
        data-ng-model="adic.codigoDeBarras"
        data-ng-keypress="adic.adicionarDados($event)"
        data-focar
        class="campo largura-total centralizar"
        type="text"
        placeholder="ESCANEIE OU DÍGITE AQUI...">
    </div>
  </div>

  <!-- 5 de dez.: trocar esta merda por uma tabela -->
  <div data-ng-if="adic.guia.processos.length">
    <p class="negrito">LISTA DE PROCESSOS JÁ ADICIONADOS:</p>

    <table class="largura-total">
      <tr data-ng-repeat="processo in adic.guia.processos | orderBy:'-item'">
        <td class="coluna italico texto-cinza ponto">{{processo.item}}</td>
        <td class="coluna" data-selecionar>{{processo.numero}}</td>
        <td class="coluna">{{processo.volume}}</td>
        <td class="coluna">
          <div class="linha">
            <div class="coluna">
              <button
                data-ng-click="adic.volume.aumentar(processo.numero)"
                class="botao botao-azul largura-total">
                <i class="fa fa-arrow-up"></i>
              </button>
            </div>
            <div class="coluna">
              <button
                data-ng-click="adic.volume.diminuir(processo.numero)"
                class="botao botao-azul largura-total">
                <i class="fa fa-arrow-down"></i>
              </button>
            </div>
            <div class="coluna">
              <button
                data-ng-click="adic.removerProcesso(processo.numero)"
                class="botao botao-vermelho largura-total">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="linha">
    <div class="coluna">
      <button
        data-ng-click="adic.gerarGuia()"
        class="botao botao-verde largura-total negrito">

        GERAR GUIA
      </button>
    </div>
  </div>
</div>
