/**
 * Cima:
 * =====
 */

.gr-margin-cm-5 {margin-top: 5px;}
.gr-margin-cm-10 {margin-top: 10px;}

/**
 * Baixo:
 * ======
 */

.gr-margin-bx-5 {margin-bottom: 5px;}
.gr-margin-bx-10 {margin-bottom: 10px;}
