#gr-guia .cabecalho {
  margin-bottom: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
}

#gr-guia table,
#gr-guia td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 12px;
}

#gr-guia td {
  padding: 5px;
  text-align: left;
}

#gr-guia .processos {
  padding: 2px 5px;
}

#gr-guia .monoespacado {
  font-size: 14px !important;
  font-family: Courier, monospace;
}

#gr-guia .assinaturas {
  padding: 10px 12px;
}

@media print {
  body {
    background-color: white;
  }

  .gr-principal,
  .gr-principal-conteudo {
    all: unset;
  }

  gr-cabecalho {
    display: none;
  }

  gr-guia {
    display: block;
    margin: 2% 5%;
  }
}
