<div id="gr-guia">
  <div class="gr-mrg-bx-10 gr-txt-c gr-txt-n gr-font-10 gr-font-ss">
    <img
      class="gr-mrg-bx-5"
      src="img/brasao_da_republica.png">
    <div>
      ADVOCACIA-GERAL DA UNIÃO<br>
      PROCURADORIA-GERAL FEDERAL<br>
      PROCURADORIA FEDERAL NO ESTADO DE MATO GROSSO DO SUL<br>
      ESCRITÓRIO DE REPRESENTAÇÃO EM DOURADOS – MS<br>
      Av. Weimar G. Torres, 3215 C – 1º Andar – CEP 79800-023<br>
      Fone: (67) 3423-2591
    </div>
  </div>

  <table class="gr-w-100 gr-font-serif">
    <tr class="gr-txt-c gr-txt-n">
      <td colspan="4">
        GUIA DE REMESSA DE CARGA Nº
        <span gr-selecionar>{{guia.numero}}/{{guia.data | date:'yyyy'}}</span>
        <span ng-if="guia.malote">
          (MALOTE <span gr-selecionar>{{guia.numero}}</span>)
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <span class="gr-txt-n">REMETENTE:</span> AGU/PGF/ER/DOURADOS-MS
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <span class="gr-txt-n">DESTINATÁRIO:</span> {{guia.destinatario}}
      </td>
    </tr>
    <tr class="gr-txt-c gr-txt-n">
      <td>ITEM</td>
      <td>ESPÉCIE</td>
      <td>Nº DO DOCUMENTO</td>
      <td>VOLUME</td>
    </tr>
    <tr
      ng-repeat="processo in guia.processos"
      class="guia-processos">
      <td>{{processo.item | preencher:2 }}</td>
      <td>PROCESSO</td>
      <td class="gr-font-mono" gr-selecionar>{{processo.numero | formatar}}</td>
      <td>{{processo.volume | preencher:2 }}</td>
    </tr>
    <tr class="gr-txt-c gr-txt-n">
      <td colspan="2">PARA USO DA EXPEDIÇÃO</td>
      <td colspan="2">PARA USO DO DESTINATÁRIO</td>
    </tr>
    <tr>
      <td
        class="guia-assinaturas"
        colspan="2">
        <p class="gr-mrg-bx-10">
          <span class="gr-txt-n">REMETIDO EM:</span> {{guia.data | date:'dd/MM/yyyy HH:mm'}}
        </p>
        <p>
          <span class="gr-txt-n">RESPONSÁVEL:</span> {{guia.usuario}}
        </p>
      </td>
      <td
        class="guia-assinaturas"
        colspan="2">
        <p class="gr-mrg-bx-10">
          <span class="gr-txt-n">RECEBIDO EM:</span> _____/_____/{{guia.data | date:'yyyy'}}
        </p>
        <p>
          <span class="gr-txt-n">RESPONSÁVEL:</span> ______________________________
        </p>
      </td>
    </tr>
  </table>
</div>
