#gr-guia table,
#gr-guia td {
  font-size: 12px;
  border: 1px solid black;
  border-collapse: collapse;
}

#gr-guia td {
  padding: 5px;
  text-align: left;
}

#gr-guia .guia-processos {
  padding: 2px 5px;
}

#gr-guia .guia-assinaturas {
  padding: 10px 12px;
}

@media print {
  body {
    background-color: white;
  }

  .gr-principal,
  .gr-principal-conteudo {
    all: unset;
  }

  gr-cabecalho {
    display: none;
  }

  gr-guia {
    display: block;
    margin: 2% 5%;
  }
}
