<div id="gr-cabecalho">
  <div class="gr-flex-lin gr-flex-lin-bl cab-ctrls">
    <div class="gr-flex-col-75">
      <button ng-click="cab.criarNovo()">
        <i class="fa fa-plus"></i> NOVO
      </button>
      <button ng-click="cab.verHistorico()">
        <i class="fa fa-history"></i> HSTÓRICO
      </button>
      <button ng-click="cab.verConfiguracoes()">
        <i class="fa fa-cog"></i> CONFIGURAÇÕES
      </button>
    </div>
    <div class="gr-flex-col-25 gr-txt-d gr-txt-i">
      {{cab.data | date:'dd/MM/yyyy HH:mm'}}
    </div>
  </div>

  <div class="gr-txt-c cab-secao">
    <h1>{{cab.titulo}}</h1>
    <button
      ng-click="cab.btPrincClick()"
      ng-class="['gr-btn', 'gr-btn-' + cab.btPrincCor]">

      <i ng-class="['fa', 'fa-' + cab.btPrincFa]"></i> {{cab.btPrinc}}
    </button>
  </div>
</div>

