<div
  ng-init="cab.iniciar()"
  id="gr-cabecalho">
  <div class="gr-flex-lin gr-flex-lin-bl cab-ctrls">
    <div class="gr-flex-col-75">
      <button
        ng-click="cab.irPara('/')"
        title="Criar nova guia">
        <i class="fa fa-plus"></i> NOVO
      </button>
      <button
        ng-click="cab.irPara('/historico')"
        ng-disabled="cab.path === '/historico'"
        title="Ver histórico de guias">
        <i class="fa fa-history"></i> HSTÓRICO
      </button>
      <button
        ng-click="cab.irPara('/configuracoes')"
        ng-disabled="cab.path === '/configuracoes'"
        title="Abrir as configurações">
        <i class="fa fa-cog"></i> CONFIGURAÇÕES
      </button>
    </div>
    <div
      class="gr-flex-col-25 gr-txt-d gr-txt-i"
      title="Data atual">
      {{cab.data | date:'dd/MM/yyyy HH:mm'}}
    </div>
  </div>

  <div class="gr-txt-c cab-secao">
    <ng-transclude></ng-transclude>
  </div>
</div>

