/**
 * controles
 */

#gr-cabecalho .cab-ctrls {
  margin-bottom: 20px;
  padding: 0px 10px;
  background-color: #e2e2e2;
}

#gr-cabecalho .cab-ctrls button {
  font-size: 14px;
}

#gr-cabecalho .cab-ctrls button {
  border: none;
  margin: 6px 1px;
  padding: 6px 12px;
  background-color: #ccc;
  transition: background-color 0.15s ease-out;
}

#gr-cabecalho .cab-ctrls button:not(:disabled):hover {
  background-color: #c5c5c5;
}

#gr-cabecalho .cab-ctrls button:not(:disabled):active {
  background-color: #ccc;
}

#gr-cabecalho .cab-ctrls button:disabled {
  font-style: italic;
}

/**
 * seção
 */

#gr-cabecalho .cab-secao {
  margin-bottom: 20px;
}

#gr-cabecalho .cab-secao h1 {
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: normal;
}
