<div id="configurar">
  <header>
    <h1>gerador de<br>guia de remessa</h1>
  </header>

  <form data-ng-submit="vm.ler()">
    <table>
      <tr>
        <td>
          <input
            data-ng-model="vm.carga"
            placeholder="nº da carga"
            min="0"
            autofocus
            required>
        </td>
        <td>
          <input
            data-ng-model="vm.lacre"
            data-ng-disabled="vm.destinatario | ehPraDourados"
            placeholder="nº do lacre"
            min="0"
            required>
        </td>
        <td>
          <input
            data-ng-model="vm.malote"
            data-ng-disabled="vm.destinatario | ehPraDourados"
            placeholder="nº do malote"
            min="0"
            maxlength="5"
            required>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <select
            data-ng-model="vm.destinatario"
            required>

            <option value disabled hidden>
              escolha o destinatário aqui...
            </option>

            <option disabled>AMAMBAI:</option>
            <option value="vara do trabalho de amambai/ms">
              VARA DO TRABALHO DE AMAMBAI/MS
            </option>
            <option value="vara estadual de amambai/ms">
              VARA ESTADUAL DE AMAMBAI/MS
            </option>

            <option disabled>ANGÉLICA:</option>
            <option value="vara do trabalho de angélica/ms">
              VARA DO TRABALHO DE ANGÉLICA/MS
            </option>

            <option disabled>BELA VISTA:</option>
            <option value="vara estadual de bela vista/ms">
              VARA ESTADUAL DE BELA VISTA/MS
            </option>
            <option value="vara do trabalho de bela vista/ms">
              VARA DO TRABALHO DE BELA VISTA/MS
            </option>

            <option disabled>BATAYPORÃ:</option>
            <option value="vara estadual de batayporã/ms">
              VARA ESTADUAL DE BATAYPORÃ/MS
            </option>

            <option disabled>CAARAPÓ:</option>
            <option value="vara do trabalho caarapó/ms">
              VARA DO TRABALHO CAARAPÓ/MS
            </option>

            <option disabled>DEODÁPOLIS:</option>
            <option value="vara do trabalho de deodápolis/ms">
              VARA DO TRABALHO DE DEODÁPOLIS/MS
            </option>

            <option disabled>DOURADOS:</option>
            <option value="1ª vara federal de dourados/ms">
              1ª VARA FEDERAL DE DOURADOS/MS
            </option>
            <option value="2ª vara federal de dourados/ms">
              2ª VARA FEDERAL DE DOURADOS/MS
            </option>
            <option value="1ª vara do trabalho de dourados/ms">
              1ª VARA DO TRABALHO DE DOURADOS/MS
            </option>
            <option value="2ª vara do trabalho de dourados/ms">
              2ª VARA DO TRABALHO DE DOURADOS/MS
            </option>
            <option value="3ª cível de dourados/ms">
              3ª CÍVEL DE DOURADOS/MS
            </option>

            <option disabled>ELDORADO:</option>
            <option value="vara estadual de eldorado/ms">
              VARA ESTADUAL DE ELDORADO/MS
            </option>

            <option disabled>FÁTIMA DO SUL:</option>
            <option value="vara única de fátima do sul/ms">
              VARA ÚNICA DE FÁTIMA DO SUL/MS
            </option>
            <option value="vara do trabalho de fátima do sul/ms">
              VARA DO TRABALHO DE FÁTIMA DO SUL/MS
            </option>

            <option disabled>GLÓRIA DE DOURADOS:</option>
            <option value="vara do trabalho de glória de dourados/ms">
              VARA DO TRABALHO DE GLÓRIA DE DOURADOS/MS
            </option>
            <option value="vara estadual de glória de dourados/ms">
              VARA ESTADUAL DE GLÓRIA DE DOURADOS/MS
            </option>

            <option disabled>IGUATEMI:</option>
            <option value="vara do trabalho de iguatemi/ms">
              VARA DO TRABALHO DE IGUATEMI/MS
            </option>
            <option value="vara estadual de iguatemi/ms">
              VARA ESTADUAL DE IGUATEMI/MS
            </option>

            <option disabled>ITAPORÃ:</option>
            <option value="vara  estadual de itaporã/ms">
              VARA  ESTADUAL DE ITAPORÃ/MS
            </option>
            <option value="vara do trabalho de itaporã/ms">
              VARA DO TRABALHO DE ITAPORÃ/MS
            </option>

            <option disabled>ITAQUIRAÍ:</option>
            <option value="vara do trabalho de itaquiraí/ms">
              VARA DO TRABALHO DE ITAQUIRAÍ/MS
            </option>

            <option disabled>IVINHEMA:</option>
            <option value="vara do trabalho de ivinhema/ms">
              VARA DO TRABALHO DE IVINHEMA/MS
            </option>

            <option disabled>JARDIM:</option>
            <option value="vara do trabalho de jardim/ms">
              VARA DO TRABALHO DE JARDIM/MS
            </option>
            <option value="vara estadual de jardim/ms">
              VARA ESTADUAL DE JARDIM/MS
            </option>

            <option disabled>MARACAJU:</option>
            <option value="vara do trabalho de maracaju/ms">
              VARA DO TRABALHO DE MARACAJU/MS
            </option>
            <option value="vara estadual de maracaju/ms">
              VARA ESTADUAL DE MARACAJU/MS
            </option>

            <option disabled>MUNDO NOVO:</option>
            <option value="vara do trabalho de mundo novo/ms">
              VARA DO TRABALHO DE MUNDO NOVO/MS
            </option>
            <option value="vara estadual de mundo novo/ms">
              VARA ESTADUAL DE MUNDO NOVO/MS
            </option>

            <option disabled>NAVIRAÍ:</option>
            <option value="1ª vara federal de naviraí/ms">
              1ª VARA FEDERAL DE NAVIRAÍ/MS
            </option>
            <option value="2ª vara federal de naviraí/ms">
              2ª VARA FEDERAL DE NAVIRAÍ/MS
            </option>
            <option value="vara do trabalho de naviraí/ms">
              VARA DO TRABALHO DE NAVIRAÍ/MS
            </option>

            <option disabled>NOVA ALVORADA DO SUL:</option>
            <option value="vara estadual de nova alvorada do sul/ms">
              VARA ESTADUAL DE NOVA ALVORADA DO SUL/MS
            </option>
            <option value="vara do trabalho de nova alvorada do sul/ms">
              VARA DO TRABALHO DE NOVA ALVORADA DO SUL/MS
            </option>

            <option disabled>NOVA ANDRADINA:</option>
            <option value="2ª vara estadual de nova andradina/ms">
              2ª VARA ESTADUAL DE NOVA ANDRADINA/MS
            </option>
            <option value="vara do trabalho de nova andradina/ms">
              VARA DO TRABALHO DE NOVA ANDRADINA/MS
            </option>

            <option disabled>PONTA PORÃ:</option>
            <option value="1ª vara do trabalho de ponta porã/ms">
              1ª VARA DO TRABALHO DE PONTA PORÃ/MS
            </option>
            <option value="1ª vara federal de ponta porã/ms">
              1ª VARA FEDERAL DE PONTA PORÃ/MS
            </option>
            <option value="2ª vara federal de ponta porã/ms">
              2ª VARA FEDERAL DE PONTA PORÃ/MS
            </option>

            <option disabled>RIO BRILHANTE:</option>
            <option value="vara estadual de rio brilhante/ms">
              VARA ESTADUAL DE RIO BRILHANTE/MS
            </option>
            <option value="vara do trabalho de rio brilhante/ms">
              VARA DO TRABALHO DE RIO BRILHANTE/MS
            </option>

            <option disabled>SETE QUEDAS:</option>
            <option value="vara estadual de sete quedas/ms">
              VARA ESTADUAL DE SETE QUEDAS/MS
            </option>
            <option value="vara do trabalho de sete quedas/ms">
              VARA DO TRABALHO DE SETE QUEDAS/MS
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <textarea
            data-ng-model="vm.processos"
            placeholder="cole os números aqui..."
            rows="4"
            required>
          </textarea>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td>
          <input type="submit" value="gerar guia">
        </td>
        <td>
          <input type="reset" value="limpar dados">
        </td>
      </tr>
    </table>
  </form>

  <p class="centralizar">
    <a href="#">últimas guias geradas</a>
  </p>
</div>

