<div id="indice">
  <gr-cabecalho
    titulo="ADICIONAR DADOS"
    bt-princ="GERAR"
    bt-princ-fa="arrow-right"
    bt-princ-cor="verde"
    bt-princ-click="ind.gerarGuia()"
    bt-princ-desc="Gerar a guia"
    pode-sair="ind.guia.tahVazia()">
  </gr-cabecalho>

  <div class="gr-principal-conteudo">
    <form>
      <div class="gr-flex-lin">
        <div class="gr-flex-col">
          <input
            ng-model="ind.guia.numero"
            class="gr-input gr-w-100"
            type="number"
            min="1"
            placeholder="NÚMERO DA GUIA"
            title="Número da guia">
        </div>
        <div class="gr-flex-col">
          <input
            ng-model="ind.guia.malote"
            class="gr-input gr-w-100"
            type="number"
            min="1"
            placeholder="NÚMERO DO MALOTE"
            title="Número do malote">
        </div>
      </div>

      <div class="gr-pad-2">
        <select
          ng-model="ind.guia.destinatario"
          ng-options="destinatario for destinatario in ind.destinatarios"
          class="gr-input gr-w-100"
          title="Destinatarios">

          <option
            value
            disabled
            hidden>

            ESCOLHA O DESTINATÁRIO AQUI...
          </option>
        </select>
      </div>
    </form>

    <div class="g-hr"></div>

    <form
      ng-submit="ind.adicionarProcesso()"
      class="gr-pad-2 gr-mrg-bx-5">

      <input
        ng-model="ind.codigoDeBarras"
        gr-focar
        class="gr-input gr-w-100 gr-txt-c"
        type="text"
        placeholder="ESCANEIE OS PROCESSOS AQUI..."
        title="Escanei os processos aqui...">
    </form>

    <div class="gr-pad-2">
      <div
        ng-show="ind.guia.processos.tahVazio()"
        class="ind-aviso">
        <p class="gr-txt-c">
          AINDA NÃO FOI ADICIONADO NENHUM PROCESSO!
        </p>
      </div>

      <table
        ng-hide="ind.guia.processos.tahVazio()"
        class="gr-w-100">

        <tr>
          <th>ITEM</th>
          <th>PROCESSO</th>
          <th>VOLUME</th>
          <th><i class="fa fa-pencil"></i></th>
        </tr>

        <tr ng-repeat="processo in ind.guia.processos.lista | orderBy:'-item'">
          <td>{{processo.item | preencher:2}}</td>
          <td>
            <span gr-selecionar>{{processo.numero}}</span>

            <i
              ng-if="!processo.ehValido"
              class="fa fa-exclamation-circle gr-cor-vermelho gr-cursor-help"
              title="Formato não reconhecido!">
            </i>
          </td>
          <td>{{processo.volume | preencher:2}}</td>

          <td class="gr-flex-lin">
            <div class="gr-flex-col gr-pad-1">
              <button
                ng-click="ind.guia.processos.aumentarVolume(processo.numero)"
                class="gr-btn gr-btn-azul gr-w-100">
                <i class="fa fa-arrow-up"></i>
              </button>
            </div>
            <div class="gr-flex-col gr-pad-1">
              <button
                ng-click="ind.guia.processos.diminuirVolume(processo.numero)"
                ng-disabled="ind.guia.processos.obter(processo.numero).volume === 1"
                class="gr-btn gr-btn-azul gr-w-100">

                <i class="fa fa-arrow-down"></i>
              </button>
            </div>
            <div class="gr-flex-col gr-pad-1">
              <button
                ng-click="ind.removerProcesso(processo.numero)"
                class="gr-btn gr-btn-vermelho gr-w-100">

                <i class="fa fa-times"></i>
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
