/**
 * tabela
 */

#indice table {
  border-collapse: collapse;
}

#indice th {
  font-size: 14px;
}

#indice th,
#indice td {
  border: solid 1px #ddd;
}

#indice th,
#indice td {
  padding: 4px 8px;
}

#indice tr:nth-child(even) {
  background-color: #f2f2f2;
}

/**
 * aviso
 */

#indice .ind-aviso {
  padding: 8px 0px;
  color: #ff4c4c;
  background-color: #ffe5e5;
}
