<div
  id="indice">

  <gr-controles
    gr-botoes="ind.controles">
  </gr-controles>

  <form>
    <div class="gr-flex-lin">
      <div class="gr-flex-col">
        <input
          ng-model="ind.guia.numero"
          ng-keypress="ind.informarErro($event)"
          class="gr-campo gr-largura-100"
          type="text"
          placeholder="NÚMERO DA GUIA"
          title="Número da guia">
      </div>
      <div class="gr-flex-col">
        <input
          ng-model="ind.guia.malote.numero"
          ng-keypress="ind.informarErro($event)"
          ng-disabled="!ind.guia.malote.vai"
          class="gr-campo gr-largura-100"
          type="text"
          maxlength="5"
          placeholder="NÚMERO DO MALOTE"
          title="Número do malote">
      </div>
    </div>

    <div class="gr-pad-2">
      <select
        ng-model="ind.guia.destinatario"
        ng-options="destinatario for destinatario in ind.destinatarios"
        class="gr-campo gr-largura-100"
        title="Destinatarios">

        <option
          value
          disabled
          hidden>

          ESCOLHA O DESTINATÁRIO AQUI...
        </option>
      </select>
    </div>
  </form>

  <div class="hr"></div>

  <form
    ng-submit="ind.adicionarDados()"
    class="gr-pad-2 gr-margin-bx-5">

    <input
      ng-model="ind.codigoDeBarras"
      gr-focar
      class="gr-campo gr-largura-100 gr-texto-c"
      type="text"
      placeholder="ESCANEIE OS PROCESSOS AQUI..."
      title="Escanei os processos aqui...">
  </form>

  <div class="gr-pad-2">
    <div
      ng-show="ind.guia.processos.tahVazio()"
      class="ind-aviso">
      <p class="gr-texto-c">
        NÃO FOI ADICIONADO NENHUM PROCESSO AINDA!
      </p>
    </div>

    <table
      ng-hide="ind.guia.processos.tahVazio()"
      class="gr-largura-100">

      <tr>
        <th>ITEM</th>
        <th>PROCESSO</th>
        <th>VOLUME</th>
        <th>*</th>
      </tr>

      <tr ng-repeat="processo in ind.guia.processos.lista | orderBy:'-item'">
        <td>{{processo.item | preencher:2}}</td>
        <td gr-selecionar>{{processo.numero}}</td>
        <td>{{processo.volume | preencher:2}}</td>

        <td class="gr-flex-lin">
          <div class="gr-flex-col gr-pad-1">
            <button
              ng-click="ind.guia.processos.aumentarVolume(processo.numero)"
              class="gr-campo gr-campo-azul gr-largura-100">
              <i class="fa fa-arrow-up"></i>
            </button>
          </div>
          <div class="gr-flex-col gr-pad-1">
            <button
              ng-click="ind.guia.processos.diminuirVolume(processo.numero)"
              ng-disabled="ind.guia.processos.obter(processo.numero).volume === 1"
              class="gr-campo gr-campo-azul gr-largura-100">

              <i class="fa fa-arrow-down"></i>
            </button>
          </div>
          <div class="gr-flex-col gr-pad-1">
            <button
              ng-click="ind.removerProcesso(processo.numero)"
              class="gr-campo gr-campo-vermelho gr-largura-100">

              <i class="fa fa-times"></i>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
