<div id="configurar">

  <header>
    <h1 class="g-margin-baixo-10">CONFIGURAÇÕES</h1>

    <button
      data-ng-click="conf.voltar()"
      class="g-botao g-botao-azul voltar">

      <i class="fa fa-home"></i>
      PÁGINA INICIAL
    </button>
  </header>

  <!-- Usuário -->
  <div id="usuario" class="secao">
    <p class="tipo">
      <a href="#!/configurar#usuario">
        Usuário:
      </a>
    </p>

    <form class="conteudo">
      <label>
        <p class="g-margin-baixo-10">Seu nome:</p>

        <input
          data-ng-model="conf.usuario.nome"
          class="g-campo g-largura-total"
          type="text"
          placeholder="Insira seu nome aqui...">
      </label>

      <button
        data-ng-click="conf.usuario.salvar()"
        class="g-botao g-botao-verde g-direita g-margin-cima-5"
        type="submit">

        <i class="fa fa-floppy-o"></i>
        SALVAR AS ALTERAÇÕES
      </button>
    </form>
  </div>

  <!-- Destinatários -->
  <div id="destinatarios" class="secao">
    <p class="tipo">
      <a href="/#!/configurar#destinatarios">
        Destinatários:
      </a>
    </p>

    <div class="conteudo">
      <p class="g-margin-baixo-10">Gerenciar destinatários:</p>

      <div
        data-ng-repeat="destinatario in conf.destinatarios.lista"
        class="g-linha g-largura-total destinatario">

        <div
          data-selecionar
          class="g-coluna g-cursor-padrao item">

          {{destinatario}}
        </div>
        <div class="g-coluna item">
          <button
            data-ng-click="conf.destinatarios.remover($index)"
            class="g-botao g-botao-vermelho g-direita">

            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>

      <div class="g-largura-total">
        <input
          data-ng-model="conf.destinatarios.novo"
          data-ng-keypress="conf.destinatarios.adicionar($event)"
          class="g-campo g-largura-total g-margin-cima-5"
          type="text"
          placeholder="ADICIONAR DESTINATÁRIO... (PRESS. <ENTER>)">
      </div>

      <button
        data-ng-click="conf.destinatarios.salvar()"
        class="g-botao g-botao-verde g-direita g-margin-cima-5"
        type="submit">

        <i class="fa fa-floppy-o"></i>
        SALVAR AS ALTERAÇÕES
      </button>
    </div>
  </div>
</div>
