<div id="configurar">
  <h1>Configurações</h1>

  <button
    data-ng-click="conf.voltarPraPaginaInicial()"
    class="voltar-pra-pagina-inicial">
    <i class="fa fa-home"></i>
    PÁGINA INICIAL
  </button>

  <!-- Usuário -->
  <div class="secao">
    <p class="tipo dois-pontos">Usuário</p>

    <form class="conteudo">
      <label>
        <p class="descricao dois-pontos">Seu nome</p>
        <input
          data-ng-model="conf.nomeDoUsuario"
          type="text"
          placeholder="Insira seu nome aqui...">
      </label>

      <button
        data-ng-click="conf.salvarNovoNomeDoUsuario(conf.nomeDoUsuario)"
        type="submit">Salvar as alterações</button>
    </form>
  </div>

  <!-- Destinatários -->
  <div class="secao">
    <p class="tipo dois-pontos">Destinatários</p>

    <div class="conteudo">
      <form>
        <p class="descricao dois-pontos">Gerenciar destinatários</p>
        <table>
          <tr data-ng-repeat="destinatario in conf.listaDeDestinatarios">
            <td>{{destinatario}}</td>
            <td>
              <button
                data-ng-click="conf.removerDestinatario($index)"
                class="remover">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>

          <tr>
            <td>
              <input
                data-ng-model="conf.novoDestinatario"
                type="text"
                placeholder="Adicionar novo destinatário...">
            </td>
            <td>
              <button
                class="adicionar"
                data-ng-click="conf.adicionarDestinatario(conf.novoDestinatario)">
                <i class="fa fa-plus"></i>
              </button>
            </td>
          </tr>
        </table>

        <button
          data-ng-click="conf.salvarDestinatarios(conf.listaDeDestinatarios)"
          type="submit">Salvar as alterações</button>
      </form>
    </div>
  </div>
</div>
