<div id="configurar">

  <header>
    <h1 class="g-margin-baixo-10">CONFIGURAÇÕES</h1>

    <button
      data-ng-click="conf.voltar()"
      class="g-botao g-botao-azul voltar">

      <i class="fa fa-home"></i>
      PÁGINA INICIAL
    </button>
  </header>


  <!-- Usuário -->
  <div class="secao">
    <p class="g-dois-pontos tipo">Usuário</p>

    <form class="conteudo">
      <label>
        <p class="g-dois-pontos descricao">Seu nome</p>
        <input
          data-ng-model="conf.usuario.nome"
          type="text"
          placeholder="Insira seu nome aqui...">
      </label>

      <button
        data-ng-click="conf.usuario.salvar()"
        type="submit">Salvar as alterações</button>
    </form>
  </div>

  <!-- Destinatários -->
  <div class="secao">
    <p class="g-dois-pontos tipo">Destinatários</p>

    <div class="conteudo">
      <form>
        <p class="g-dois-pontos descricao">Gerenciar destinatários</p>
        <table>
          <tr data-ng-repeat="destinatario in conf.destinatarios.lista">
            <td>{{destinatario}}</td>
            <td>
              <button
                data-ng-click="conf.destinatarios.remover($index)"
                class="remover">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>

          <tr>
            <td>
              <input
                data-ng-model="conf.destinatarios.novo"
                type="text"
                placeholder="Adicionar novo destinatário...">
            </td>
            <td>
              <button
                class="adicionar"
                data-ng-click="conf.destinatarios.novo()">
                <i class="fa fa-plus"></i>
              </button>
            </td>
          </tr>
        </table>

        <button
          data-ng-click="conf.destinatarios.salvar()"
          type="submit">Salvar as alterações</button>
      </form>
    </div>
  </div>
</div>
