* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.ng-cloak {
  display: none !important;
}

/**
 * seleção
 */

::selection {
  color: white;
  background-color: #7686b5;
}

::-moz-selection {
  color: white;
  background-color: #7686b5;
}
