html,
body,
[ng-app] {
  height: 100%;
  background-color: #eee;
}

body {
  font-family: "Segoe UI", sans-serif;
}

.gr-principal {
  margin: 0px auto;
  width: 665px;
  height: 100%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.gr-secao {
  padding: 0px 25px 25px 25px;
}
