/**
 * largura e altura
 */

.gr-w-100 {
  width: 100%;
  max-width: 100%;
}

.gr-h-100 {
  height: 100%;
  max-height: 100%;
}

/**
 * texto - posição
 */

.gr-txt-c,
.gr-txt-c * {
  text-align: center !important;
}

.gr-txt-e,
.gr-txt-e * {
  text-align: left !important;
}

.gr-txt-d,
.gr-txt-d * {
  text-align: right !important;
}

/**
 * texto - estilo
 */

.gr-txt-n,
.gr-txt-n * {
  font-weight: bold !important;
}

.gr-txt-i,
.gr-txt-i * {
  font-style: italic !important;
}

.gr-txt-marcado {
  background-color: #ffff7f;
}

/**
 * fontes - family
 */

.gr-font-mono {
  font-family: Courier, monospace;
}

.gr-font-serif {
  font-family: serif;
}

.gr-font-ss {
  font-family: sans-serif;
}

/**
 * fontes - size
 */

.gr-font-10 {
  font-size: 10px !important;
}

.gr-font-12 {
  font-size: 12px !important;
}

.gr-font-14 {
  font-size: 14px !important;
}

.gr-font-16 {
  font-size: 16px !important;
}

/**
 * cor
 */

.gr-cor-amarelo {
  color: #d19019;
}

.gr-cor-azul {
  color: #5a83c2;
}

.gr-cor-vermelho {
  color: #db5353;
}

.gr-cor-verde {
  color: #689b60;
}

/**
 * flex - linha
 */

.gr-flex-lin {
  display: flex;
  width: 100%;
}

.gr-flex-lin-c {
  align-items: center;
}

.gr-flex-lin-bl {
  align-items: baseline;
}

/**
 * coluna
 */

.gr-flex-col {
  flex-grow: 1;
  padding: 2px;
}

.gr-flex-col-75 {flex: 0 0 75%;}
.gr-flex-col-50 {flex: 0 0 50%;}
.gr-flex-col-25 {flex: 0 0 25%;}

/**
 * inputs e botões
 */

.gr-input,
.gr-btn {
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.gr-input {
  border: solid 1px #aaa;
}

.gr-btn {
  border: none;
  padding: 6px 12px;
}

/**
 * botões - efeitos
 */

.gr-btn:not(:disabled):hover {
  opacity: 0.9;
}

.gr-btn:active {
  opacity: 1 !important;
}

.gr-btn:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

/**
 * botões - cores
 */

.gr-btn-verde {
  color: white;
  background-color: #689b60;
}

.gr-btn-vermelho {
  color: white;
  background-color: #db5353;
}

.gr-btn-azul {
  color: white;
  background-color: #688f8a;
}

/**
 * margin - cima
 */

.gr-mrg-cm-5 {margin-top: 5px;}
.gr-mrg-cm-10 {margin-top: 10px;}
.gr-mrg-cm-15 {margin-top: 15px;}

/**
 * margin - baixo
 */

.gr-mrg-bx-5 {margin-bottom: 5px;}
.gr-mrg-bx-10 {margin-bottom: 10px;}
.gr-mrg-bx-15 {margin-bottom: 15px;}

/**
 * padding
 */

.gr-pad-0 {padding: 0px !important;}
.gr-pad-1 {padding: 1px !important;}
.gr-pad-2 {padding: 2px !important;}

/**
 * float
 */

.gr-float-e {float: left;}
.gr-float-d {float: right;}

/**
 * cursor
 */

.gr-cursor-default {
  cursor: default;
}

.gr-cursor-help {
  cursor: help;
}

/**
 * barra horizontal
 */

.gr-hr {
  margin: 6px 0px;
  width: 100%;
  height: 1px;
  background-color: #eee;
}

/**
 * avisos
 */

.gr-aviso {
  width: 100%;
  padding: 8px 0px;
  text-align: center;
  color: gray;
  background-color: #eee;
}

/**
 * aviso - cores
 */

.gr-aviso-vermelho {
  color: #ff4c4c;
  background-color: #ffdbdb;
}

.gr-aviso-verde {
  color: #689b60;
  background-color: #e0ebdf;
}

.gr-aviso-amarelo {
  color: #d19019;
  background-color: #f5e8d1;
}

.gr-aviso-azul {
  color: #5a83c2;
  background-color: #dee6f2;
}

/**
 * espaços
 */

.gr-espaco-e:before {
  content: "\20";
}

.gr-espaco-e:after {
  content: "\20";
}
