* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/**
 * Textos
 * ------
 */

.g-largura-total {
  width: 100%;
}

.g-centralizar,
.g-centralizar * {
  text-align: center !important;
}

.g-negrito,
.g-negrito * {
  font-weight: bold;
}

.g-italico,
.g-italico * {
  font-style: italic;
}

.g-texto-cinza {
  color: gray;
}

/**
 * Linhas e colunas
 * ----------------
 */

.g-linha {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.g-coluna {
  flex-grow: 1;
  padding: 2px;
}

/**
 * Campos e botões
 * ---------------
 */

.g-campo,
.g-botao {
  padding: 5px 10px;
  border: solid 2px #bbb;
  font-size: 14px;
  text-transform: uppercase;
}

.g-botao:not(:disabled):hover {
  opacity: 0.9;
}

.g-botao:active {
  opacity: 1;
}

.g-botao:disabled {
  filter: grayscale(100%);
}

.g-botao-verde {
  color: white;
  background-color: #689b60;
  border-color: #5d8b56;
}

.g-botao-vermelho {
  color: white;
  background-color: #db5353;
  border-color: #c54a4a;
}

.g-botao-azul {
  color: white;
  background-color: #688f8a;
  border-color: #5d807c;
}

/**
 * Margin
 * ------
 */

/* Cima: */
.g-margin-cima-5 {
  margin-top: 5px;
}

.g-margin-cima-10 {
  margin-top: 10px;
}

/* Baixo: */
.g-margin-baixo-5 {
  margin-bottom: 5px;
}

.g-margin-baixo-10 {
  margin-bottom: 10px;
}

/**
 * Padding
 * -------
 */

.g-pad-2 {
  padding: 2px;
}

/**
 * Posicionamento
 */

.g-esquerda {
  float: left;
}

.g-direita {
  float: right;
}

/**
 * Cursor
 */

*:disabled {
  cursor: not-allowed;
}

.g-cursor-padrao {
  cursor: default;
}

/**
 * Seleção
 * -------
 */

::selection {
  background-color: #f7d78d;
}

::-moz-selection {
  background-color: #f7d78d;
}

