<div
  ng-init="conf.iniciar()"
  id="configuracoes">

  <gr-cabecalho
    titulo="CONFIGURAÇÕES"
    bt-princ="SALVAR"
    bt-princ-fa="floppy-o"
    bt-princ-cor="azul"
    bt-princ-click="conf.salvar()"
    pode-sair="conf.podeSair()">
  </gr-cabecalho>

  <div class="gr-sec">
    <div id="usuario" class="secao">
      <p class="tipo">
        <a href="#!/configuracoes#usuario">
          Usuário:
        </a>
      </p>

      <form class="conteudo">
        <label>
          <p class="gr-mrg-bx-10">Seu nome:</p>

          <input
            ng-model="conf.usuario.nome"
            class="gr-input gr-w-100"
            type="text"
            placeholder="Insira seu nome aqui...">
        </label>
      </form>
    </div>

    <div id="destinatarios" class="secao">
      <p class="tipo">
        <a href="/#!/configuracoes#destinatarios">
          Destinatários:
        </a>
      </p>

      <div class="conteudo">
        <p class="gr-mrg-bx-10">Gerenciar destinatários:</p>

        <div
          ng-repeat="destinatario in conf.destinatarios.lista"
          class="gr-flex-lin gr-flex-lin-c gr-w-100 destinatario">

          <div
            gr-selecionar
            class="gr-flex-col gr-cursor-default item"
            title="{{destinatario}}">

            {{destinatario}}

            <span
              ng-if="!conf.destinatarios.tahSalvo(destinatario)"
              class="gr-txt-i gr-cursor-help"
              title="Ainda não foi salvo!">
              (<span class="conf-cor-vermelho">*</span>)
            </span>
          </div>
          <div class="gr-flex-col item">
            <button
              ng-click="conf.destinatarios.remover($index)"
              class="gr-btn gr-btn-vermelho gr-float-d"
              title="Remover">

              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>

        <form
          ng-submit="conf.destinatarios.adicionar()"
          class="gr-w-100 gr-mrg-cm-5">

          <input
            ng-model="conf.destinatarios.novo"
            class="gr-input gr-w-100 gr-mrg-bx-5"
            type="text"
            placeholder="ADICIONE UM NOVO DESTINATÁRIO...">
        </form>
      </div>
    </div>
  </div>
</div>
