<div
  ng-init="conf.iniciar()"
  id="configuracoes">

  <gr-cabecalho
    titulo="CONFIGURAÇÕES"
    bt-princ="SALVAR"
    bt-princ-fa="floppy-o"
    bt-princ-cor="azul"
    bt-princ-click="conf.salvar()"
    bt-princ-desc="Salvar as alterações"
    pode-sair="conf.podeSair()">
  </gr-cabecalho>

  <div class="gr-principal-conteudo">
    <div id="usuario" class="conf-secao">
      <p class="conf-secao-tipo">
        <a href="#!/configuracoes#usuario">
          Usuário:
        </a>
      </p>

      <form class="conf-secao-conteudo">
        <label>
          <p class="gr-mrg-bx-10">
          Seu nome:

          <i
            class="fa fa-info-circle gr-cor-azul gr-float-d gr-cursor-help"
            title="Nome que aparecerá na guia.">
          </i>
        </p>

          <input
            ng-model="conf.usuario.nome"
            ng-trim="false"
            class="gr-input gr-w-100"
            type="text"
            maxlength="25"
            placeholder="Insira seu nome aqui...">

          <span class="gr-float-d gr-font-12 gr-mrg-cm-5">
            {{conf.usuario.nome.length}}-25
          </span>
        </label>
      </form>
    </div>

    <div id="destinatarios" class="conf-secao">
      <p class="conf-secao-tipo">
        <a href="/#!/configuracoes#destinatarios">
          Destinatários:
        </a>
      </p>

      <div class="conf-secao-conteudo">
        <p class="gr-mrg-bx-10">
          Gerenciar destinatários:

          <i
            class="fa fa-info-circle gr-cor-azul gr-float-d gr-cursor-help"
            title="Destinatários para escolher.">
          </i>
        </p>

        <div
          ng-repeat="destinatario in conf.destinatarios.lista"
          class="gr-flex-lin gr-flex-lin-c gr-w-100 conf-destinatario">

          <div
            class="gr-flex-col gr-cursor-default conf-destinatario-item"
            title="{{destinatario}}">
            <span gr-selecionar>{{destinatario}}</span>

            <i
              ng-if="!conf.destinatarios.tahSalvo(destinatario)"
              class="fa fa-exclamation-triangle gr-cursor-help gr-cor-amarelo"
              title="Ainda não foi salvado!">
            </i>
          </div>
          <div class="gr-flex-col conf-destinaario-item">
            <button
              ng-click="conf.destinatarios.remover($index)"
              class="gr-btn gr-btn-vermelho gr-float-d"
              title="Remover">

              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>

        <form
          ng-submit="conf.destinatarios.adicionar()"
          class="gr-w-100 gr-mrg-cm-5">

          <input
            ng-model="conf.destinatarios.novo"
            ng-trim="false"
            class="gr-input gr-w-100"
            type="text"
            maxlength="45"
            placeholder="ADICIONE UM NOVO DESTINATÁRIO...">

          <span class="gr-float-d gr-font-12 gr-mrg-cm-5">
            {{conf.destinatarios.novo.length}}-45
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
