#configuracoes {
  width: 600px;
  margin: 90px auto;
  font-family: "Segoe UI", sans-serif;
}

#configuracoes header {
  margin-bottom: 15px;
  text-align: center;
}

/**
 * Seção
 * -----
 */

#configuracoes .secao {
  background-color: #f1f1f1;
  border: solid 2px #ddd;
  margin-bottom: 12px;
  padding: 10px 30px;
}

#configuracoes .secao .tipo a {
  margin-top: 8px;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: gray;
}

#configuracoes .secao .conteudo {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
}

/**
 * Destinatário
 * ------------
 */

#configuracoes .destinatario {
  align-items: center;
  /******************/

  padding-left: 10px;
  margin-bottom: 1px;
  background-color: #e9e9e9;
}

#configuracoes .destinatario:hover {
  background-color: #e4e4e4;
}

#configuracoes .item {
  padding: 0px;
}
