/**
 * seção
 */

#configuracoes .conf-secao {
  background-color: #f1f1f1;
  border: solid 2px #ddd;
  margin-bottom: 12px;
  padding: 10px 30px;
}

#configuracoes .conf-secao-tipo a {
  margin-top: 8px;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: gray;
}

#configuracoes .conf-secao-tipo a:hover {
  opacity: 0.9;
}

#configuracoes .conf-secao-tipo  a:active {
  opacity: 1;
}

#configuracoes .conf-secao-conteudo {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
}

/**
 * destinatário
 */

#configuracoes .conf-destinatario {
  padding-left: 10px;
  margin-bottom: 1px;
  background-color: #e9e9e9;
}

#configuracoes .conf-destinatario:hover {
  background-color: #e4e4e4;
}

#configuracoes .conf-destinatario-item {
  padding: 0px;
}
