<div id="adicionar">
  <header>
    <h1>GERADOR DE<br>GUIA DE REMESSA</h1>

    <div
      data-check-box
      data-checado="vm.guia.vaiMalote"></div>
  </header>

  <div class="adic-linha">
    <div class="adic-coluna">
      <input
          data-ng-model="vm.guia.numero"
          data-ng-keypress="vm.adicionarGuia($event)"
          class="adic-campo largura-total"
          type="text"
          placeholder="NÚMERO DA GUIA">
    </div>
    <div class="adic-coluna">
      <input
          data-ng-model="vm.guia.malote"
          data-ng-keypress="vm.adicionarGuia($event)"
          data-ng-disabled="!vm.guia.vaiMalote"
          class="adic-campo largura-total"
          type="text"
          placeholder="NÚMERO DO MALOTE">
    </div>
  </div>

  <div class="adic-linha">
    <div class="adic-coluna">
      <select
        data-ng-model="vm.guia.destinatario"
        class="adic-campo largura-total">

        <option
          value
          disabled
          hidden>

          ESCOLHA O DESTINATÁRIO AQUI...
        </option>

        <!-- por favor, não quebre esta linha -->
        <option data-ng-repeat="destinatario in vm.listaDeDestinatarios">{{destinatario}}</option>
      </select>
    </div>
  </div>

  <div class="adic-linha">
    <div class="adic-coluna">
      <input
        data-ng-model="vm.codigoDeBarras"
        data-ng-keypress="vm.adicionarDados($event)"
        data-auto-focus
        class="adic-campo largura-total centralizar"
        type="text"
        placeholder="ESCANEIE OU DÍGITE AQUI...">
    </div>
  </div>

  <!-- 5 de dez.: trocar esta merda por uma tabela -->
  <div data-ng-if="vm.guia.processos.length">
    <p class="negrito">LISTA DE PROCESSOS JÁ ADICIONADOS:</p>

    <div
      data-ng-repeat="processo in vm.guia.processos | orderBy:'-item'"
      class="adic-linha">
      <div class="adic-coluna italico">{{processo.item}}</div>
      <div class="adic-coluna">{{processo.numero}}</div>
      <div class="adic-coluna">{{processo.volume}}</div>
      <div class="adic-coluna">
        <div class="adic-linha">
          <div class="adic-coluna">
            <button
              data-ng-click="vm.aumentarVolume(processo.numero)"
              class="adic-botao adic-botao-azul largura-total">
              <i class="fa fa-arrow-up"></i>
            </button>
          </div>
          <div class="adic-coluna">
            <button
              data-ng-click="vm.diminuirVolume(processo.numero)"
              class="adic-botao adic-botao-azul largura-total">
              <i class="fa fa-arrow-down"></i>
            </button>
          </div>
          <div class="adic-coluna">
            <button
              data-ng-click="vm.removerProcesso(processo.numero)"
              class="adic-botao adic-botao-vermelho largura-total">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="adic-linha">
    <div class="adic-coluna">
      <button
        data-ng-click="vm.gerarGuia()"
        class="adic-botao adic-botao-verde largura-total">

        GERAR GUIA
      </button>
    </div>
  </div>

  <!-- noticação -->
  <div
    data-ng-show="vm.notificar.exibir"
    class="notificacao">

    <span>
      {{vm.notificar.mensagem}}
    </span>
  </div>
</div>

