<div id="adicionar">
  <header>
    <h1>
      gerador de<br>
      guia de remessa</h1>
  </header>

  <div data-check-box></div>

  <table>
    <tr>
      <td>
        <input
          data-ng-model="vm.guia.numero"
          data-ng-keypress="vm.adicionarGuia($event)"
          placeholder="nº da guia">
      </td>
      <td>
        <input
          data-ng-model="vm.guia.malote"
          data-ng-keypress="vm.adicionarGuia($event)"
          data-ng-disabled="!vm.guia.vaiMalote"
          placeholder="nº do malote">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <select data-ng-model="vm.guia.destinatario">

          <option
            value
            disabled
            hidden>

            escolha o destinatário aqui...
          </option>

          <!-- não quebre a linha -->
          <option data-ng-repeat="destinatario in vm.listaDeDestinatarios">{{destinatario}}</option>
        </select>
      </td>
    </tr>
  </table>

  <form data-ng-submit="vm.adicionarDados(vm.codigoDeBarras)">
    <table>
      <tr>
        <td>
          <input
            data-ng-model="vm.codigoDeBarras"
            data-auto-focus
            class="centralizar"
            type="text"
            placeholder="escaneie ou dígite aqui...">
        </td>
      </tr>
    </table>
  </form>

  <table
    data-ng-if="vm.guia.processos.length"
    class="adicionados">

    <tr>
      <th colspan="5">
        LISTA DE PROCESSOS JÁ ADICIONADOS:
      </th>
    </tr>
    <tr data-ng-repeat="processo in vm.guia.processos | orderBy:'-item'">
      <td class="indice italico">{{processo.item}}.</td>
      <td>{{processo.numero}}</td>
      <td>{{processo.volume}}</td>
      <td>
        <button
          data-ng-click="vm.aumentarVolume(processo.numero)"
          class="btn mudar-volume">
          <i class="fa fa-arrow-up"></i>
        </button>
      </td>
      <td>
        <button
          data-ng-click="vm.diminuirVolume(processo.numero)"
          class="btn mudar-volume">
          <i class="fa fa-arrow-down"></i>
        </button>
      </td>
      <td>
        <button
          data-ng-click="vm.removerProcesso(processo.numero)"
          class="btn remover">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </table>

  <form
    data-ng-submit="vm.gerarGuia()"
    class="gerar">

    <table>
      <tr>
        <td>
          <input
            type="submit"
            value="gerar guia">
        </td>
      </tr>
    </table>
  </form>

  <!-- noticação -->
  <div
    data-ng-show="vm.notificar.exibir"
    class="notificacao">

    <span>
      {{vm.notificar.mensagem}}
    </span>
  </div>
</div>

