#adicionar {
  width: 600px;
  margin: 90px auto;
  font-family: "Segoe UI", sans-serif;
}

#adicionar header {
  margin: 0px auto;
  width: 300px;
  text-align: center;
}

#adicionar header h1 {
  font-size: 28px;
  line-height: 28px;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}

#adicionar .adic-linha {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

#adicionar .adic-coluna {
  flex-grow: 1;
  padding: 2px;
}

#adicionar .adic-campo {
  padding: 4px 8px;
  border: solid 2px #bbb;
}

#adicionar .adic-botao {
  padding: 4px 8px;
  border-width: 2px;
  border-style: solid;
}

#adicionar .adic-botao-verde {
  color: white;
  background-color: #689b60;
  border-color: #5d8b56;
}

#adicionar .adic-botao-vermelho {
  color: white;
  background-color: #db5353;
  border-color: #c54a4a;
}

#adicionar .adic-botao-azul {
  color: white;
  background-color: #688f8a;
  border-color: #5d807c;
}

#adicionar .adic-campo,
#adicionar .adic-botao {
  font-size: 14px;
  text-transform: uppercase;
}
