<div id="imprimir">

  <!--botões de controle -->
  <div class="configuracoes">
    <table>
      <tr>
        <td>
          <button data-ng-click="vm.voltarPraPaginaInicial()">
            <i class="fa fa-arrow-left"></i>
            voltar
          </button>
        </td>
        <td>
          <button data-ng-click="vm.imprimirGuia()">
            <i class="fa fa-print"></i>
            imprimir
          </button>
        </td>
        <td hidden>
          <button>
            <i class="fa fa-clipboard"></i>
            copiar
          </button>
        </td>
      </tr>
    </table>
  </div>

  <!-- cabeçalho -->
  <div class="cabecalho">
    <img
      width="50"
      src="imagens/brasao_da_republica.gif">

    <p>ADVOCACIA-GERAL DA UNIÃO</p>
    <p>PROCURADORIA-GERAL FEDERAL</p>
    <p>PROCURADORIA FEDERAL NO ESTADO DE MATO GROSSO DO SUL</p>
    <p>ESCRITÓRIO DE REPRESENTAÇÂO EM DOURADOS – MS</p>
    <p>Av. Weimar G. Torres, 3215-C – 1º Andar – Centro – CEP 79800-023</p>
    <p>Fone: (67) 3423-2591</p>
  </div>

  <table>
    <tr class="centralizar negrito">
      <td colspan="4">
        GUIA DE REMESSA DE CARGA Nº {{vm.guia}}/{{vm.data | date:"yyyy"}}
        <span data-ng-if="!vm.naoVaiMalote">
          (MALOTE {{vm.malote}})
        </span>

        <div
          data-codigo-de-barras
          data-guia="{{vm.guia}}"></div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <span class="negrito">REMETENTE</span>: AGU/PGF/ER/DOURADOS-MS
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <span class="negrito">DESTINATÁRIO</span>: {{vm.destinatario | uppercase}}
      </td>
    </tr>
    <tr class="centralizar negrito">
      <td>ITEM</td>
      <td>ESPÉCIE</td>
      <td>Nº DO DOCUMENTO</td>
      <td>VOLUME</td>
    </tr>
    <tr
      data-ng-repeat="processo in vm.processos"
      class="lista-de-processos">
      <td>{{processo.item}}</td>
      <td>PROCESSO</td>
      <td>{{processo.numero}}</td>
      <td>{{processo.volume}}</td>
    </tr>
    <tr class="centralizar negrito">
      <td
        class="assinaturas"
        colspan="2">
        PARA USO DA EXPEDIÇÃO
      </td>
      <td
        class="assinaturas"
        colspan="2">
        PARA USO DO DESTINATÁRIO
      </td>
    </tr>
    <tr>
      <td
        class="assinaturas negrito"
        colspan="2">
        <p>REMETIDO EM: {{vm.data | date:"dd/MM/yyyy HH:mm"}}</p>
        <p>RESPONSÁVEL: _____________________________</p>
      </td>
      <td
        class="assinaturas negrito"
        colspan="2">
        <p>RECEBIDO EM: _____/_____/{{vm.data | date:"yyyy"}}</p>
        <p>RESPONSÁVEL: _____________________________</p>
      </td>
    </tr>
  </table>

  <!-- mensagem no canto inferior direito -->
  <span class="devolver-guia">
    FAVOR DEVOLVER UMA VIA RECIBADA
  </span>
</div>

