<div
  ng-init="$ctrl._iniciar()"
  id="impressao">

  <gr-cabecalho pode-sair="true">
    <h1>GERADOR DE GUIA DE REMESSA</h1>
    <button
      ng-click="$ctrl.verCodigoFonte()"
      class="gr-btn gr-btn-azul"
      title="Ver o código fonte">

      <i class="fa fa-code"></i>
      CÓDIGO FONTE
    </button>
  </gr-cabecalho>

  <div class="gr-principal-conteudo gr-txt-c">
    <p class="gr-mrg-bx-5">
      COPYRIGHT &COPY; 2017-2018
      <a
        class="gr-cor-azul"
        href="https://goo.gl/euxs85">
        MATHEUS ALVES
      </a>
    </p>
    <p class="gr-mrg-bx-5 gr-txt-i">
      LICENCIADO SOB A
      <a
        class="gr-cor-azul"
        href="https://goo.gl/X7hgUG">
        LICENÇA MIT
      </a>
    </p>
  </div>
</div>

