#imprimir {
  margin: 2% 5%;
}

#imprimir .impr-configuracoes {
  width: 256px;
  margin: 0px auto 10px auto;
}

#imprimir .impr-cabecalho {
  margin-bottom: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
}

#imprimir table,
#imprimir th,
#imprimir td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 12px;
}

#imprimir th,
#imprimir td {
  padding: 5px;
  text-align: left;
}

#imprimir .impr-processos > td {
  padding: 2px 5px;
  font-family: Courier, monospace;
  font-size: 14px;
}

#imprimir .impr-assinaturas {
  padding: 10px;
}

#imprimir .impr-devolver {
  position: fixed;
  bottom: 0px;
  right: 0px;
  opacity: 0.6;
  font-weight: bold;
  visibility: hidden;
}

/**
 * esconder botões pra imprimir
 */
@media print {
  #imprimir .impr-configuracoes {
    display: none;
  }

  #imprimir .impr-devolver {
    visibility: visible;
  }
}
