#cb .cb-label {
  display: inline-block;
}

#cb .cb-interruptor {
  box-sizing: content-box;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 0px 1px #ddd;
  width: 40px;
  height: 15px;
}

#cb .cb-botao {
  margin-left: 20px;
  box-shadow: inset 0px 0px 0px 1px #ddd;
  width: 20px;
  height: 15px;
  background-color: white;
  transition: all 0.1s;
}

#cb .cb-botao-sombra {
  width: 10px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}

#cb .cb-desligado {
  opacity: 0.5 !important;
}

#cb .cb-desligado .cb-botao {
  margin: 0px !important;
}

#cb .cb-desligado .cb-botao-sombra {
  margin-left: 10px !important;
}
